<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form method="post" action="/formdata">
        <label>
            姓名:
        </label>
        <input type="text" name="username" />
        <br />
        <label>年龄</label>
        <input type="text" name="age"/>
        <br />
        <input type="submit" value="提交表单" />
    </form>
</body>
</html>